<!DOCTYPE html>
<html>

  <head>
    <title>Thingies</title>
    <link href="static/todos.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="static/vendor/json2.js"></script>
    <script src="static/vendor/jquery-1.4.2.js"></script>
    <script src="static/vendor/js/jquery-ui-1.8.5.custom.min.js"></script>
    <script src="static/vendor/jquery.autocomplete.js"></script>
    <script src="static/vendor/underscore-1.1.0.js"></script>
    <script src="static/backbone.js"></script>
    <script src="static/markdown.js"></script>
    <script src="static/todos.js"></script>
    <script src="static/jquery.masonry.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/vendor/jquery.autocomplete.css" /> 
  </head>

  <body>
    <!-- Todo App Interface -->
    <div id="todoapp">

      <div id="account">
        <a id="logout" href="/logout">logout</a>
      </div>
      
      <div class="title">
        <h1>Thingies: <span id="username"/></h1> 
      </div>


        <div id="create-todo">
          <div class="cell hidden" id="new-todo-box">
            <textarea id="new-todo" placeholder="What needs to be done?" type="text"></textarea>
          </div>
          <button id="bigN" class="button">New...</button>
          <button id="markDone" class="button disabled need-selection">Mark Done</button>
          <button id="deleteDone" class="button disabled need-done">Clean up</button>
          <input id="filter" placeholder="filter by..." type="search"/>
        </div>

      <div id="main">
        <div id="todos">
          <div id="todo-list" class="grid sortable"/>
        </div>
        <div id="tags">
        </div>
      </div>
      <div id="todo-stats"></div>

    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
        <div tabindex="0" class="cell selectable ui-widget-content <%= done ? 'done' : '' %> <%= selected ? 'selected' : '' %>">
          <div class="display" >
            <div class="todo-content"></div>
          <!-- <span class="todo-destroy"></span> -->
            <input tabindex="-1" class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %>><div class="checkbox_label">done</div></input>
          </div>
          <div class="edit">
            <textarea maxlength=100 class="todo-input" type="text" value="" />
          </div>
        </div>
    </script>

    <script type="text/template" id="tag-template">
      <div class="tag" id="home">
        <input type="checkbox" class="filter"/>
        <div class="tagname"></div>
        <a href="javascript:0" class="new"><img class="new"/></a>
      </div>
    </script>


    <script type="text/template" id="stats-template">
      <% if (total) { %>
        <span class="todo-count">
          <span class="number"><%= remaining %></span>
          <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
        </span>
      <% } %>
      <% if (done) { %>
        <span class="todo-clear">
          <a href="#">
            Clear <span class="number-done"><%= done %></span>
            completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
          </a>
        </span>
      <% } %>
    </script>

  </body>

</html>
