<!DOCTYPE html>
<html>

  <head>
    <title>Thingies</title>
    <link href="static/todos.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="static/vendor/json2.js"></script>
    <script src="static/vendor/jquery-1.4.2.js"></script>
    <script src="static/vendor/js/jquery-ui-1.8.5.custom.min.js"></script>
    <script src="static/vendor/underscore-1.1.0.js"></script>
    <script src="static/backbone.js"></script>
    <script src="static/todos.js"></script>
  </head>

  <body>
    <!-- Todo App Interface -->
    <div id="todoapp">

      <div class="title">
        <h1>Thingies: <span id="username"/></h1> 
      </div>
      <a href="/logout">logout</a>

      <div class="content">
        <div id="create-todo">
          <input id="new-todo" placeholder="What needs to be done?" type="text" />
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>
        <div id="todos">
          <ul id="todo-list"></ul>
        </div>
        <div id="todo-stats"></div>
      </div>
    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <div class="todo ui-widget-content <%= done ? 'done' : '' %>">
        <div class="display">
          <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
          <div class="todo-content"></div>
          <span class="todo-destroy"></span>
        </div>
        <div class="edit">
          <input class="todo-input" type="text" value="" />
        </div>
      </div>
    </script>

    <script type="text/template" id="stats-template">
      <% if (total) { %>
        <span class="todo-count">
          <span class="number"><%= remaining %></span>
          <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
        </span>
      <% } %>
      <% if (done) { %>
        <span class="todo-clear">
          <a href="#">
            Clear <span class="number-done"><%= done %></span>
            completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
          </a>
        </span>
      <% } %>
    </script>

  </body>

</html>
