html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*font-weight: inherit;*/
  /*font-style: inherit;*/
  font-size: 100%;
  /*font-family: inherit;*/
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: black;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #333333;
}

button.button {
  padding: 1ex;
  border: 1px solid grey;
  font-size: 16px;
  background-color: lightgrey;
  /*margin: 20px;*/
  /*margin-bottom: 18px;*/
  display: inline;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
}


button.button.disabled {
  color: grey;
  background-color: #eee;
  border-color: #ccc;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0px 0px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0px 0px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0px 0px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0px 0px 0;
}

.underline {
  display: block;
  text-decoration: underline;
}

button.button:hover {
  background-color: #ddd;
}

button.button.disabled:hover {
  background-color: #eee;
}

button.button:active {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0px 0px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0px 0px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0px 0px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0px 0px 0;
}

ol, ul {
  list-style: none;
}

a img {
  border: none;
}

a {
  color: darkblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#account {
  position: relative;
  width: 100%;
}

#logout {
  position: absolute;
  right: 0;
  top: 2em;
}

#todoapp {
  margin: 0 auto 40px;
  padding: 20px;
  padding-left: 3em;
  padding-right: 3em;
}

#todoapp h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 30px 0;
  line-height: 1;
}

#todos {
  margin-top: 2em;
}

#todo-list {
  padding: 1em;
  background-color: #eeeeee;
  min-height: 40em;
  border: 1px solid #999999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0 inset;
}

#create-todo {
  position: relative;
  width: 100%;
}

#filter {
  width: 366px;
  font-size: 16px !important;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#new-todo {
  width: 366px;
  font-size: 16px !important;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #ccc;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#new-todo-box {
  z-index: 10;
  position: absolute;
  left: 24%;
  top: 50%;
  padding: 3em;
  display: block;
  overflow: auto;
  width: 400px;
  height: 10em;
  background-color: white;
  border: 1px solid #999999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
}

#new-todo {
  height: 7em;
}

#create-todo #filter {
  -moz-border-radius: 24px;
  padding-left: 1ex;
  margin-left: 2em;
}

#filter {
  position: absolute;
  right: 0;
}

#create-todo input::-webkit-input-placeholder {
  font-style: italic;
}

#create-todo span {
  position: absolute;
  z-index: 999;
  width: 170px;
  left: 50%;
  margin-left: -85px;
}

#main {
  position: relative;
  padding-right: 2em;
}

#todos {
  display: inline-block;
  width: 85%;
}

#tags {
  position: absolute;
  top: 2em;
  right: 1em;
  width: 13%;
}

a.new {
  border: none;
  outline: none;
}

img.new {
  background-image: url('add.png');
  display: inline-block;
  width: 16px;
  height: 16px;
}

input.filter {
  display: inline !important;
}
div.tagname {
  display: inline !important;
}

#todo-list {
  list-style-type: none;
  border: 1px;
  overflow: auto;
}

#todo-list .cell.selected, #todo-list .cell.hover.selected {
  background-color: #fffd7f;
  /*margin-left: 1px;*/
  /*margin-top: 1px;*/
  /*margin-left: -2px;*/
  /*margin-top: -2px;*/
  /*padding-left: 2px;*/
  -moz-transition-property: box-shadow, margin padding;
  -moz-transition-duration: .1s;
  -webkit-transition-property: box-shadow, margin padding;
  -webkit-transition-duration: .1s;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 12px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 12px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 12px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 10px 12px 0;
}

#todo-list .cell.hover {
  background-color: #fffbbb;
  /*margin-left: -1px;*/
  /*margin-top: -1px;*/
  /*padding-left: 1px;*/
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}


#todo-list li:first-child .cell {
  padding-top: 10px;
  margin-top: 10px;
}
#todo-list li:first-child .box {
  padding-top: 5px;
}

#todo-list li:nth-child(2n) .cell {
  padding-top: 7px;
  margin-top: 15px;
}
#todo-list li:nth-child(2n) .box {
  padding-top: 0px;
}

#todo-list li:nth-child(3n) .box {
  padding-top: 13px;
  margin-top: 8px;
}
#todo-list li:nth-child(3n) .box {
  padding-top: 7px;
}

li {
  -moz-transition-property: left, top;
  -moz-transition-duration: .1s;
}

#todo-list .cell {
  /*min-width: 120px;*/
  max-width: 220px;
  margin: 5px;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  position: relative;
  -moz-transition-property: width, height, opacity;
  -moz-transition-duration: .4s;
}

  #todo-list .check {
    position: absolute;
    bottom: 5px;
    margin-left: -10px;
    float: left;
    visibility: collapse;
  }
  
  #todo-list .checkbox_label {
    position: absolute;
    bottom: 4px;
    left: 20px;
    color: grey;
    margin: 0 10px 0 7px;
    float: left;
    visibility: collapse;
  }

  #todo-list li:hover .checkbox_label {
    visibility: visible;
  }
  #todo-list li:hover .check {
    visibility: visible;
  }
  
  #todo-list .done .todo-content {
    text-decoration: line-through;
    color: #777777;
  }
  
  .handle {
    height: 12px;
  }

  .cell.hover .handle {
    /*background-color: grey;*/
  }
  
  #todo-list .todo-destroy {
    position: absolute;
    right: 5px;
    top: 14px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(destroy.png) no-repeat 0 0;
  }
    #todo-list li:hover .todo-destroy {
      display: block;
    }
    #todo-list .todo-destroy:hover {
      background-position: 0 -20px;
    }

#todo-list .display, .edit {
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
}

#todo-list .todo-content {
  font-size: 16px;
  font-family: inherit;
  overflow: hidden;
  text-wrap: normal;
  line-height: 1.2em;
  padding-bottom: 2em;
}

#todo-list .editing .display,
#todo-list .edit {
  display: none;
}

#todo-list .editing .edit {
  display: block;
}

#todo-list .editing textarea {
  width: 120px;
  min-height: 290px;
  font-size: 24px;
  font-family: inherit;
  margin: 0;
  line-height: 1.6em;
  border: 0;
  outline: none;
  margin-left: -3px;
  margin-top: -11px;
  overflow: hidden;
  border: 1px solid #999999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}


#todo-stats {
  display: block;
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
  width: 0 !important;
  min-width: 0 !important;
}


#todo-list.masoned, #todo-list.masoned .box {
  -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
       -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
}
